<!doctype html>
<html>
  <head>
    <title>Isomorphic playground</title>
    <link href='/style.css' rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  </head>
  <body>
    <div id="react-main-mount"><%- reactOutput %></div>
    
    <script src="/main.js"></script>
  </body>
</html>