.buzzbattery .navbar-brand > img {
  height: 23px;
  display: inline;
  margin-right: 14px;
  position: relative;
  top: -1px;
}

.nav-pills>li:nth-child(1)>a {
	padding: 5px;
}

.nav-pills>li:nth-child(1).active>a,
.nav-pills>li:nth-child(1).active>a:focus,
.nav-pills>li:nth-child(1).active>a:hover {
	background-color: transparent;
}

.nav-pills a:nth-child(1)>.form-group {
	margin-bottom: 0px;
}